@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

:root {
    --white: #F1ECE8;
    --black: #171717;
    --blue: #2a2d40;
    --yellow: #F2A950;
    --light-yellow: #f7d7b5;
    --fontFamily: 'Raleway', sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: var(--blue);
    background-size: cover;
}

input, p, span, label, button, li, h1, h2, h3 {
    font-family: var(--fontFamily);
}

header {
    max-width: 100%;
    padding: 2rem 0;
    text-align: center;
}

#recipe-logo {
    width: 200px;
}

header p {
    max-width: 95%;
    color: var(--white);
    font-size: 20px;
    padding: 2rem 0;
    font-weight: 400;
    line-height: 2;
}

.form-container {
    padding-bottom: 2rem;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
}

.form-container form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 1rem;
}

#city-input {
    font-size: 18px;
    padding: 0.5rem;
    border: 0;
    outline: 0;
    border-radius: 3px;
}

#beer-search-button {
    font-size: 18px;
    padding: 0.5rem;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 600;
    cursor: pointer;
}

#brewery-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.brewery-card {
    background-color: var(--light-yellow);
    padding: 1rem;
    border-radius: 5px;
}

.brewery-card h2 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 1rem;
}

.brewery-card ul li {
    padding: 1rem 0;
}

.info-title {
    font-weight: bold;
}

footer {
    padding: 2rem 0;
    max-width: 100%;
    text-align: center;
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    .form-container {
        max-width: 70%;
    }

    #brewery-container {
        max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        max-width: 90%;
    }

    .form-container form {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    #brewery-container {
        max-width: 95%;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}